<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Test_Automation" verbose="1" parallel="classes">
    <test name="selenium_grid">
   <classes>
       <class name="automation_test.parallel.MortgageCalculatorPgObjBaseClassParrelTest"/>
       <class name="automation_test.parallel.AmortizedLoanPgObjBaseClassParrelTest"/>
       <class name="automation_test.parallel.AmortizedLoanPgObjParrelTest"/>
   </classes>
    </test>
</suite>